<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
  <script>
  tinymce.init({
    selector: '#mytextarea'
  });
  </script>
  
<%= render :partial =>"home/basic"%>
<br><br>
 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
        
      <br><br>
    
      <div class="row">
        <form class="col s12" action="/home/h510_update/<%=@mo_content.id%>" method="POST">
          <div class="row">
              <div class="input-field col s12">
              <textarea name="title" class="materialize-textarea"><%=@mo_content.title%></textarea>
            </div>
              <div class="input-field col s12">
                <textarea id="mytextarea" name="content"><%=(@mo_content.content)%></textarea><br><br>
              <br><br><br>
              <div class="row center">
                  <input type="submit" class="btn-large waves-effect waves-light orange" value="수정 완료">
              </div>
            </div>
          </div>
        </form>
      </div>
        
      <br><br>
    </div>
  </div>


       
<br><br>
<%= render :partial =>"home/down"%>