<%= render :partial =>"home/basic"%>
<br><br>



 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
    
    <div class="row right">
    <a href="/home/h738_write" class="btn-large waves-effect waves-light orange">숙제 작성</a>
    </div>
    
    <br><br><br><br>
    
    <!--숙제 출력-->
    <%@h738.each do |x|%>
      <br><br>
      
  <article class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
    <meta content="en" itemprop="inLanguage" />

    <h2 itemprop="headline"><%=x.title%></h2>
    <div class="abstract" itemprop="description">
      <p>
        <%=x.content%>
      </p>
    </div>
    <footer class="post-meta">
      <ul>
        <li>
          <i class="icon-time"></i>
          <time itemprop="datePublished"><%= x.created_at.to_s(:db) %></time>
        </li>
        <li>
          <i class="icon-user"></i>
          <a href="#" itemprop="author">이설희</a>
        </li>
        <li>
          <i class="icon-tags"></i>
          <a href="/home/h738_modify/<%=x.id%>" itemprop="keywords">수정</a>
          <a href="/home/de_h738/<%=x.id%>" itemprop="keywords">삭제</a>
        </li>
      </ul>
    </footer>
  </article>


      
    <%end%>
      <br><br>
      
    <!--paginate 출력-->  
    <div class="flickr_pagination">
    <%= will_paginate @h738 %>
    </div>
    <!--숙제 출력 종료-->
  
    

   
      
      <br><br>
    </div>
  </div>


      
 
        
<br><br>
<%= render :partial =>"home/down"%>